html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: violet;
  color: white;
}

div {
  margin: auto;
}

.container:nth-child(odd) {
  background-color: lightblue;
  border: solid;
  border-radius: 12px;
  padding: 1rem;
}

.container:nth-child(even) {
  background-color: pink;
  border: solid;
  border-radius: 12px;
  padding: 1rem;
}

.user {
  font-weight: bold;
}

.createdAt {
  font-size: small;
  font-style: italic;
}